<%= stylesheet_link_tag "navbar"%>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand" style="margin-left: 5px;">
      <a href="/">
        <i class="fa-solid fa-store fa-xl" title="Home"></i>
      </a>
      <a href="<%= new_product_url %>">
        <i class="fa-solid fa-circle-plus" title="Add product"></i>
      </a>
    </div>
    <span style="color:darkolivegreen;font-weight:bold;font-size: 24px;">Bazar</span>
    <div class="d-flex" style="align-items: center;">
      <a href="#" style="padding-right: 20px;">
        <i class="fa-solid fa-cart-shopping fa-xl" title="Cart"></i>
      </a>
      <a id="logIn" href="#" style="font-size: 20px;color: darkolivegreen;padding-right: 10px;"><b>Log in</b></a>
    </div>
  </div>
</nav>
