i:hover {
  transform: scale(1.1);
}

#iconLink:hover {
  color: darkolivegreen;
}

a {
  color: black;
  text-decoration: none;
  padding-right: 2px;
}

#textLink:hover {
  transform: scale(1.1);
}
